doctype html
html
head
	title Blog Register
	link(rel='stylesheet', type='text/css', href='/CSS/main.css')
body
	.container
		h3 Make blog?
		form(action='/register' method='post')
			label username
			input#username(name='usernameNew' required)
			br
			label email
			input#email(name='emailNew' required)
			br
			label password
			input#password(type='password' name='passwordNew' minlength= '8' required)
			br
			label confirm password
			input#confirm(type='password' name='confirmPassword' required)
			br
			input(type='submit' value='register' id='submit')